* {
	margin: 0;
}

body {
	background-color: #666;
	color: #333333;
	font-size:13px;
	font-family: "Helvetica Neue", Gotham, Helvetica, Arial, sans-serif;
}

body:after {
	content: url(img/delete_icon.png) url(img/delete_hover.png);
	display: none;
}

#title {
	height: 104px;
	margin-left: 30px;
	color: #FFFFFF;
	font-family: "Helvetica Neue", Gotham, Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 30px;
	padding-top: 53px;
}

.title-medium {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
	border-bottom-color: #333333;
	border-bottom-width: 1px;
	border-style: none none solid;
}

#cloudant-response {
	padding: 5px;
}

#output {
	margin-top: 30px;
}

#show-songs {
	margin-top: 5px;
	margin-bottom: 5px;
}

.song-list {
	color: #333333;
	font-size: 13px;
	font-family: "Helvetica Neue", Gotham, Helvetica, Arial, sans-serif;
	background-color: #15B5F2;
	margin-top: 0px;
	margin-bottom: 5px;
	padding: 7px;
	display: inline-block;
	width: 230px;
}

.song-item {
	margin-top: 0px;
	margin-bottom: 20px;
}

.delete-icon {
	margin: 2px;
	float: right;
}

#number {
	display:inline;
}
/* Define HTML Tags */

input, button, select, option, textarea {
	color: #333333;
	font-size:13px;
	font-family: "Helvetica Neue", Gotham, Helvetica, Arial, sans-serif;
	margin: 2px;
}

/* Define Wrappers */

#totalwrapper {
	background-color: #FFF;
	width: 950px;
	display: block;
	margin-top: 40px;
  	margin-left: auto;
  	margin-right: auto;
	padding: 10px;
}

#wrapper-top {
	background-color:#0CF;
	padding: 5px;
	margin-bottom: 10px;
}

#wrapper-status, #toddle {
	background-color: #390;
	padding: 5px;
	margin-bottom: 10px;
	color: #333333;
	font-family: "Helvetica Neue", Gotham, Helvetica, Arial, sans-serif;
	font-size: 13px;
	text-align: left;
}

#wrapper-left {
	background-color:#0CF;
	padding: 10px;
	float: left;
	width: 600px;
	min-height: 400px;
}

#wrapper-right{
	background-color:#0CF;
	padding: 10px;
	float: left;
	width: 300px;
	margin-left: 10px;
	min-height: 400px;
}

#floatclear {
	clear: both;
}

/* jQuery Sortable */
#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }